<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
       <div class="container">
           <h1>I fix your computer</h1>
           <ul>
               <li>Advice free</li>
               <li>Fix cost money</li>
           </ul>
       </div>
    </body>
</html>